.h-1 {
  font-size: 57px;
  font-family: "Hacen Tunisia";
  font-weight: 200;
}
@media (max-width: 991px) {
  .h-1 {
    font-size: 36px;
  }
}

.h-2 {
  padding: 26px 0;
  font-size: 46px;
  font-family: "Hacen Tunisia";
  color: #1c1c1c;
  font-weight: 400;
}
@media (max-width: 991px) {
  .h-2 {
    font-size: 30px;
  }
}

.h-3 {
  font-size: 30px;
}
@media (max-width: 991px) {
  .h-3 {
    font-size: 20px;
  }
}

.f-4 {
  font-size: 14px;
  color: #666;
  line-height: 2;
}
@media (max-width: 767px) {
  .f-4 {
    font-size: 12px;
  }
}

.f-5 {
  font-size: 22px;
}
@media (max-width: 991px) {
  .f-5 {
    font-size: 20px;
  }
}

.f-16pt {
  font-size: 16pt;
  line-height: 1.8;
}

.btn {
  border: 1.5px solid #E26E0B;
  padding: 15px 25px;
  background-color: transparent;
  color: #E26E0B;
  font-size: 16px;
  cursor: pointer;
  min-width: 140px;
  border-radius: 2px;
  transition: all 0.6s;
}
.btn:hover {
  color: white;
  background-color: #E26E0B;
}
@media (max-width: 767px) {
  .btn {
    font-size: 12px;
    padding: 10px 15px;
  }
}

.btn-2 {
  background-color: #E26E0B;
  border: 1.5px solid #E26E0B;
  border-radius: 2px;
  padding: 15px 25px;
  color: white;
  transition: all 0.6s;
  cursor: pointer;
}
.btn-2:hover {
  background-color: #d0650a;
}

.btn-3 {
  padding: 15px 25px;
  border: none;
  background-color: #1c1c1c;
  color: white;
  border: 1.5px solid #1c1c1c;
  font-size: 16px;
  cursor: pointer;
  min-width: 140px;
  border-radius: 2px;
  transition: all 0.6s;
}
.btn-3:hover {
  color: #1c1c1c;
  background-color: white;
}
@media (max-width: 767px) {
  .btn-3 {
    font-size: 12px;
    padding: 10px 15px;
  }
}

@-webkit-keyframes news {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}

@keyframes news {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes active-list {
  from {
    height: 0px;
  }
  to {
    height: 25px;
  }
}
@keyframes active-list {
  from {
    height: 0px;
  }
  to {
    height: 25px;
  }
}
@-webkit-keyframes minu {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}
@keyframes minu {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}
@-webkit-keyframes active {
  from {
    -webkit-clip-path: circle(6px at 50% 50px);
            clip-path: circle(6px at 50% 50px);
  }
  to {
    -webkit-clip-path: circle(130% at 50% 50px);
            clip-path: circle(130% at 50% 50px);
  }
}
@keyframes active {
  from {
    -webkit-clip-path: circle(6px at 50% 50px);
            clip-path: circle(6px at 50% 50px);
  }
  to {
    -webkit-clip-path: circle(130% at 50% 50px);
            clip-path: circle(130% at 50% 50px);
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes ticker-kf {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes ticker-kf {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
.shadow {
  box-shadow: 0px 10px 10px 0px rgba(115, 101, 154, 0.0901960784);
}

.shadow-inset {
  box-shadow: 100px 400px 20px 20px inset rgba(251, 251, 251, 0.95);
}

/* start Container */
.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 1299px) {
  .container {
    max-width: 1120px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

main {
  position: relative;
  background-image: url("/images/bg-story.png");
  background-color: #1c1c1c;
  background-size: cover;
  height: 120vh;
  color: white;
  padding-right: 12vw;
}
@media (max-width: 1299px) {
  main {
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  main {
    background-size: cover;
    height: 110vh;
  }
}
main .overlay {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(21, 3, 38, 0.25));
  width: 100%;
  height: 100%;
  right: 0;
}
main .text {
  position: relative;
  top: 260px;
  font-size: 14px;
}

section.reports {
  margin-bottom: -300px;
  position: relative;
}
section.reports .image.layer2 {
  position: absolute;
  top: 400px;
  left: 0px;
  height: 450px;
  overflow: hidden;
  width: 126px;
}
@media (max-width: 1299px) {
  section.reports .image.layer2 {
    display: none;
  }
}
section.reports .image.layer2 img {
  height: 460px;
}
section.reports .image.layer3 {
  position: absolute;
  top: 50px;
  right: -83px;
  height: 430px;
  overflow: hidden;
  width: 160px;
}
@media (max-width: 991px) {
  section.reports .image.layer3 {
    display: none;
  }
}
section.reports .image.layer3 img {
  height: 500px;
}
section.reports .main {
  background-color: white;
  position: relative;
  top: -40vh;
  z-index: 2;
  padding: 80px 20px 10px;
  overflow-y: clip;
}
section.reports .main .image.layer1 {
  position: absolute;
  top: -160px;
  left: 0px;
  height: 400px;
  overflow: hidden;
  width: 120px;
}
@media (max-width: 991px) {
  section.reports .main .image.layer1 {
    display: none;
  }
}
section.reports .main .image.layer1 img {
  height: 400px;
}
section.reports .main h2 {
  color: #666;
  font-weight: 600;
  position: relative;
  margin: 0 100px 40px;
  width: 70%;
}
section.reports .main h2::before {
  content: "";
  width: 80px;
  height: 2px;
  position: absolute;
  background-color: #666;
  top: 50%;
  right: -90px;
}
section.reports .main .all-reports {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
}
@media (max-width: 767px) {
  section.reports .main .all-reports {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
  }
}
section.reports .main .all-reports .content {
  margin-bottom: 80px;
}
section.reports .main .all-reports .content .box {
  display: flex;
  align-items: flex-end;
  width: 350px;
  justify-content: center;
  position: relative;
}
section.reports .main .all-reports .content .box span {
  font-family: "Hacen Tunisia";
}
section.reports .main .all-reports .content .box p.befor,
section.reports .main .all-reports .content .box p.hover {
  transform: rotateZ(90deg);
  color: #555;
  position: absolute;
  left: 245px;
  font-size: 24px;
  width: 60%;
  bottom: 95px;
}
section.reports .main .all-reports .content .box p.hover {
  font-weight: 100;
  color: white;
  text-shadow: -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555, 1px 1px 0 #555;
  left: 258px;
  bottom: 82px;
  display: none;
}
section.reports .main .all-reports .content .box p.hover img {
  transform: rotateZ(-90deg);
  position: relative;
  top: 17px;
  right: 24px;
}
section.reports .main .all-reports .content .box p.hover i {
  position: relative;
  right: 36px;
  top: -0.1px;
  font-size: 16px;
  font-weight: 600;
}
section.reports .main .all-reports .content .box p.hover span:last-child {
  position: relative;
  right: 34px;
}
section.reports .main .all-reports .content .box .pdf {
  position: relative;
  width: 300px;
  height: 420px;
  background-color: #333;
  background-size: cover;
}
section.reports .main .all-reports .content .box .pdf::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 150px;
  background-color: white;
  bottom: 0;
  right: 40px;
}
section.reports .main .all-reports .content .box .pdf h3 {
  position: absolute;
  top: 20px;
  color: white;
  font-size: 80px;
  font-family: "Hacen Tunisia";
  left: 40px;
  font-weight: 400;
}
section.reports .main .all-reports .content .box .pdf p.text {
  bottom: 20px;
  position: absolute;
  font-size: 22px;
  line-height: 1.4;
  right: 90px;
  color: #555;
  display: none;
  transition: 0.5s ease-in-out;
}
section.reports .main .all-reports .content .box:hover .pdf {
  background-color: #ccc;
  transition: 0.5s ease-in-out;
}
section.reports .main .all-reports .content .box:hover .pdf::after {
  background-color: #555;
}
section.reports .main .all-reports .content .box:hover p.befor {
  display: none;
}
section.reports .main .all-reports .content .box:hover p.hover {
  display: block;
}
section.reports .main .all-reports .content .box:hover h3 {
  color: #555;
}
section.reports .main .all-reports .content .box:hover p.text {
  display: block;
}

section.share {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
section.share h2 {
  font-size: 30px;
  margin-bottom: -30px;
}
section.share ul {
  padding-top: 40px;
  width: 260px;
  font-size: 26px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
section.share ul li {
  color: #aaa;
}
section.share ul li:hover {
  color: #1c1c1c;
}/*# sourceMappingURL=reports.css.map */